@{
    ViewBag.Title = "Acerca de";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>

    <p>
        La seguridad es de suma importancia llevar a cabo un inventario
        de activos y conocer el valor que tiene en la organización que se relaciona con la creación,
        almacenamiento, manejo y transmisión de información hasta su destrucción.
    </p>

    <h2>Activos</h2>

    <h5>Confidencialidad</h5>
    <p>Nivel del activo que solamente personal de la organizacion con nivel alto puede acceder y realizar su operacion</p>

    <h5>Disponibilidad</h5>
    <p>Nivel del activo que tiene sobre el funcionamiento de la organización y tiene que estar en pleno mantenimiento</p>

    <h5>Integridad</h5>
    <p>
        Nivel de completitud de la información que debe ser preciso, coherente y completa desde su creación hasta su destrucción
    </p>

    <h2>Riesgos</h2>

    <h5>Amenazas</h5>
    <p>
        Activo que puede ser explotado por varias causas que resultan daño del sistema u organización.
    </p>

    <h5>Vulnerabilidad</h5>
    <p>
        Activos que estan sujetos a amenazas que llevan a destrucción y degradación, es por la vulnerabilidad.
    </p>

    <h5>Controles</h5>
    <p>
        Salvaguardas que tiene la organización en operación
    </p>

    <h3>Integrantes</h3>
    <p class="lead">Gustavo Guevara, Ismael Ordoñez, Erick Rosero, Martin Vargas, Ivan Tulcan</p>
</main>