@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Proyecto de Seguridad Informática</h1>
        <p class="lead">Sistema de gestión de activos y riesgo</p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Listado de activos</h2>
            <p>
                Lista los activos que tienen a disposición para determinar el valor de los activos de una organización ya que contiene
                información para su funcionamiento y operación
            </p>
            <p><a class="btn btn-outline-dark" href="ListadoActivos/Index">Lista de Activos &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Tipo de Activos</h2>
            <p>Describir si el activo es un bien tangible o intangible</p>
            <p><a class="btn btn-outline-dark" href="TipoActivoes/Index">Tipo de Activos &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Area</h2>
            <p>Determinar la ubicación de los activos de la organización para su correcta gestión y operación</p>
            <p><a class="btn btn-outline-dark" href="AreaActivoes/Index">Area de Activos &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Controles</h2>
            <p>Salvaguardas que tiene la organización en operación</p>
            <p><a class="btn btn-outline-dark" href="Controles/Index">Controles &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Amenazas</h2>
            <p>Riesgo que tiene el activo en operación en la empresa</p>
            <p><a class="btn btn-outline-dark" href="Amenazas/Index">Amenazas &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Riesgo</h2>
            <p>Contexto para evaluar y tratar los riesgos ya que están presente en todo y provocan pérdidas de la organización</p>
            <p><a class="btn btn-outline-dark" href="ListadoRiesgoes/Index">Lista de Riesgos &raquo;</a></p>
        </section>
    </div>
</main>